@model SamaERP.Models.Warehouse

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container body">
    <div class="main_container">
        <div class="right_col" role="main">
            <div>
                <div class="x_panel bg-transparent">
                    <div class="x_content">
                        <h4>@Html.DisplayFor(model => model.WarhouseName)</h4>
                        <hr />
                        <div class="row">
                            <div class="col-md-4">
                                <form asp-action="Edit">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="Id" />
                                    <div class="form-group">
                                        <label class="control-label">Warhouse Name</label>
                                        <input asp-for="WarhouseName" class="form-control" />
                                        <span asp-validation-for="WarhouseName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Warehouse Description</label>
                                        <input asp-for="WarehouseDescription" class="form-control" />
                                        <span asp-validation-for="WarehouseDescription" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Warehouse Branch</label>
                                        <input asp-for="WarehouseBranch" class="form-control" />
                                        <span asp-validation-for="WarehouseBranch" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Warehouse Address</label>
                                        <input asp-for="WarehouseAddress" class="form-control" />
                                        <span asp-validation-for="WarehouseAddress" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div>
                            <a asp-action="Index">Back to List</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

