@model SamaERP.Models.WarSupplier

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container body">
    <div class="main_container">
        <div class="right_col" role="main">
            <div>
                <div class="x_panel bg-transparent">
                    <div class="x_content">
                        <h5 class="p-md-2">Add New Supplier.</h5>
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group col-1 input-group-sm col-md-5">
                                <label class="control-label">Supplier Name</label>
                                <input asp-for="SupplierName" class="form-control" />
                                <span asp-validation-for="SupplierName" class="text-danger">@ViewBag.exist_err</span>
                            </div>
                            <div class="form-group col-1 input-group-sm col-md-5">
                                <label class="control-label">Supplier Type</label>
                                <select asp-for="SupplierType" class="form-control bg-transparent" asp-items="ViewBag.suppierTypes ?? new List<SelectListItem>();">
                                    <option value="">Choose supplier type</option>
                                </select>
                                  
                                <span asp-validation-for="SupplierType" class="text-danger"></span>
                            </div>
                            <div class="form-group col-1 input-group-sm col-md-5">
                                <label class="control-label">Supplier Description</label>
                                <input asp-for="SupplierDescription" class="form-control" />
                                <span asp-validation-for="SupplierDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group col-1 input-group-sm col-md-5">
                                <label class="control-label">Supplier Phone No.</label>
                                <input asp-for="SupplierPhoneNo" class="form-control" />
                                <span asp-validation-for="SupplierPhoneNo" class="text-danger"></span>
                            </div>
                            <div class="form-group col-1 input-group-sm col-md-5">
                                <label class="control-label">Supplier E-mail</label>
                                <input asp-for="SupplierEmail" class="form-control" />
                                <span asp-validation-for="SupplierEmail" class="text-danger"></span>
                            </div>
                            <div class="form-group col-1 input-group-sm col-md-5">
                                <label class="control-label">Supplier Address</label>
                                <input asp-for="SupplierAddress" class="form-control" />
                                <span asp-validation-for="SupplierAddress" class="text-danger"></span>
                            </div>
                            <div class="form-group col-1 input-group-sm col-md-5">
                                <label class="control-label">Supplier Country</label>
                                <input asp-for="SupplierCountry" class="form-control" />
                                <span asp-validation-for="SupplierCountry" class="text-danger"></span>
                            </div>
                            <div class="form-group col-1 input-group-sm col-md-5">
                                <label class="control-label">Supplier City</label>
                                <input asp-for="SupplierCity" class="form-control" />
                                <span asp-validation-for="SupplierCity" class="text-danger"></span>
                            </div>
                            <div class="form-group input-group-md col-md-5 pt-md-2">
                                <input type="submit" value="Save Supplier" class="btn btn-primary btn-sm" />
                                <a class="btn btn-secondary btn-sm" asp-action="Index">Back to List</a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
